@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(150, 150, 150);
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Varela Round', serif;
}

.user {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70px;
    padding: 1.5px 3px;
    background-color: rgba(70, 70, 70, 0.5);
    border-radius: 5px;
}

.user:hover {
    cursor: pointer;
    background-color: rgba(70, 70, 70, 1);
    transition: background-color 0.15s ease-out;
}

.user:hover #signout {
    transition: opacity 0.15s ease-out;
    opacity: 1;
}

#user-welcome {
    padding: 5px;
}

#user-welcome span {
    font-family: pacifico, verdana;
    text-wrap: nowrap;
}

#signout {
    position: absolute;
    width: 100%;
    bottom: -30px;
    right: 0.5px;
    z-index: 5;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    background-color: rgba(70, 70, 70, 1);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    opacity: 0;
}

#signout:hover {
    color: white;
    cursor: pointer;
}

.app-name {
    position: relative;
    font-family: pacifico, verdana;
    font-size: 1.5rem;
    text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
}

input, button, textarea, select {
    font-family: 'Varela Round', serif;

}

.user:hover {
    border-radius: 5px; /***************************/
}

.sort-container {
    white-space: nowrap;
}

.search-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

#sort-by {
    position: relative;
    cursor: pointer;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 5px;
}

.sort-order {
    font-size: 12px;
}

input.sort-order {
    display: none;
}

input.sort-order + label {
    cursor: pointer;
    padding: 5px;
    color: rgba(255, 255, 255, 0.5);
}

input.sort-order:checked + label {
    background-color: rgb(70, 70, 70);
    border-radius: 5px;
    color: white;
    text-shadow: rgb(47, 47, 47) 3px 3px 4px;
}

#search {
    width: 60%;
}

.text-inp {
    position: relative;
    padding: 3px;
    background-color: rgb(70, 70, 70);
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    opacity: 0.5;
}

.text-inp::placeholder {
    color: white;
}

.text-inp:hover, .text-inp:focus {
    opacity: 1;
}

.top-bar {
    padding: 0 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 47, 47);
}

.add-note {
    display: none;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 3rem;
    font-weight: bolder;

    position: fixed;
    bottom: 10px;
    right: 10px;

    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    background-color: rgb(70, 70, 70);
    opacity: 0.6;
}

.add-note:hover {
    cursor: pointer;
    opacity: 1;
}

.notes-container {
    min-height: 50px;
    background-color: rgb(129, 129, 129);
    border-left: 3.5px solid rgb(47, 47, 47);
    border-right: 3.5px solid rgb(47, 47, 47);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.8rem;
    color: black;
    padding: 10px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.note-element {
    overflow: hidden;
    max-width: 600px;
    border: 3.5px solid rgb(47, 47, 47);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px 20px;
    background-color: lightgray;
    /* width: 450px; */
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.15s ease-out;
}

.note-element:hover {
    transform: scale(101%);
}

.note-subject {
    background-color: gray;
    border-bottom: 3.5px solid rgb(47, 47, 47);
    font-family: 'Trebuchet MS';
    padding: 5px;
    color: white;
    text-shadow: black 1px 1px 1px;
}

.note-text {
    padding: 5px;
    height: 150px;
    font-size: 0.8em;
    overflow: auto;
}

.note-dates {
    position: relative;
    font-size: 10px;
    padding: 7px 5px;
    background-color: black;
    color: gray;
}

.note-dates .date-text {
    color: white;
}

.star-logo {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 19px;
    padding: 2px;
}

.star-logo:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 0, 0.438);
}

.delete-logo {
    width: 19px;
    padding: 2px;
    position: absolute;
    top: 2px;
    right: 27px;
}

.delete-logo:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: darksalmon;
}

.note-form .note-dates {
    text-align: center;
    font-size: 1rem;
}

.note-form .save-note {
    position: absolute;
    right: 5px;
    top: 6px;
    cursor: pointer;
    opacity: 0.8;
    width: 80px;
}

.note-form .save-note:hover {
    opacity: 1;
}

#subject {
    height: 20px;
    width: 300px;
    margin-bottom: 5px;
}


.notes-container .note-form {
    position: relative;
}

.note-form .new-note {
    height: 30px;
    border-bottom: 3.5px solid rgb(47, 47, 47);
}

#subject {
    width: 100%;
    height: 30px;
}

.green-btn {
    border-radius: 5px;
    border-style: solid;
    border-color: green;
    color: green;
    background-color: cadetblue;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}

.no-notes-add-note {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: black;
    padding: 10px;
    display: none;
    width: max-content;
}

.no-notes-add-note span {
    color: white;
    background-color: rgb(104, 104, 104);
    padding: 2px 4px;
    border: 2px solid white;
    border-radius: 9px;
    opacity: 0.8;
}

.no-notes-add-note span:hover {
    cursor: pointer;
    opacity: 1;
    outline: 3px solid rgb(163, 163, 163);
}

#name-form {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(104, 104, 104);
    padding: 50px;
    border-radius: 10px;
    border-right: 4px solid rgba(255, 255, 255, 0.619);
    border-bottom: 4px solid rgba(255, 255, 255, 0.619);
}

#name-form span {
    font-size: 6rem;
}

#name-form input {
    font-size: 1.3rem;
}

#name-form input[type="text"] {
    padding: 7px;
}

#name-form input[type="submit"] {
    margin-top: 30px;
    background-color: rgb(129, 129, 129);
    color: white;
    border: 3px solid white;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0.8;
}

#name-form input[type="submit"]:hover {
    opacity: 1;
    transform: scale(103%);
    transition: transform 0.15s ease-out;
    
}

#name-form input[type="submit"]:disabled {
    cursor: default;
    opacity: 0.5;
    transform: scale(100%);
}

@media screen and (max-width: 710px){
    .search-sort {
        flex-direction: column;
    }

    .text-inp {
        margin: 7px;
    }

    .sort-container {
        margin: 7px;
    }
}